[submodule "js/vender/luavmjs"]
	path = js/vender/luavmjs
	url = https://github.com/kripken/lua.vm.js.git
[submodule "js/vender/cookies"]
	path = js/vender/cookies
	url = https://github.com/felixge/node-mysql.git